# Ambiente
ENVIRONMENT=development

# Database
DB_HOST=100.116.199.25
DB_PORT=5432
DB_NAME=eletrofundo
DB_USER=postgres
DB_PASSWORD=
DB_SCHEMA=public

# Dash
DASH_HOST=0.0.0.0
DASH_PORT=8527
DASH_DEBUG=True

# Logging
LOG_LEVEL=INFO
